:root{
    --gradient: linear-gradient(0deg, #00000066 30%, #ffffff22 100%)
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 32vh);
    grid-auto-rows: 32vh;
  }

.description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.city {
    width: 95%;
    height: 95%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    background-size: contain;
    color: #F6F4F3;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    position: relative;
}

.city span {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

#Ljubljana {
    background-image: var(--gradient),
    url("./images/Ljubljana_made_by_Janez_Kotar.jpg");
}

#Zagreb {
    background-image: var(--gradient),
    url("./images/640px-Zagreb_\(29255640143\).jpg");
}

#Split {
    background-image: var(--gradient),
    url("./images/Split_080620-133710-IMG_0968x.jpg");
}

#Sarajevo {
    background-image: var(--gradient),
    url("./images/Sarajevo_City_Panorama.jpeg");
}

#Banja_Luka {
    background-image: var(--gradient),
    url("./images/Banja_luka.jpg");
}

#Belgrade {
    background-image: var(--gradient),
    url("./images/Belgrade_iz_balona.jpg");
}

#Novi_Sad {
    background-image: var(--gradient),
    url("./images/Danube_in_Novi_Sad_4.jpg");
}

#Podgorica {
    background-image: var(--gradient),
    url("./images/Titograd.jpg");
}

#Skopje {
    background-image: var(--gradient),
    url("./images/Stone_Bridge_Skopje_4.jpg");
}